<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <style type="text/css">
    a {text-decoration: none}
  </style>
</head>
<body text="#000000" link="#000000" alink="#000000" vlink="#000000">
<table role="none" width="100%" cellpadding="0" cellspacing="0" border="0">
<tr><td width="50%">&nbsp;</td><td align="center">

<table id="JR_PAGE_ANCHOR_0_1" role="none" class="jrPage" data-jr-height="842" cellpadding="0" cellspacing="0" border="0" style="empty-cells: show; width: 595px; border-collapse: collapse; background-color: white;">
<style type="text/css">
  #JR_PAGE_ANCHOR_0_1 th {font-weight: normal;}
  #JR_PAGE_ANCHOR_0_1 ul {list-style-type: disc; padding-inline-start: 40px; margin: 0px;}
  #JR_PAGE_ANCHOR_0_1 ol {list-style-type: decimal; padding-inline-start: 40px; margin: 0px;}
</style>
<tr role="none" valign="top" style="height:0">
<td style="width:20px"></td>
<td style="width:10px"></td>
<td style="width:48px"></td>
<td style="width:45px"></td>
<td style="width:67px"></td>
<td style="width:30px"></td>
<td style="width:10px"></td>
<td style="width:7px"></td>
<td style="width:2px"></td>
<td style="width:65px"></td>
<td style="width:53px"></td>
<td style="width:2px"></td>
<td style="width:37px"></td>
<td style="width:11px"></td>
<td style="width:43px"></td>
<td style="width:30px"></td>
<td style="width:99px"></td>
<td style="width:2px"></td>
<td style="width:14px"></td>
</tr>
<tr valign="top" style="height:15px">
<td colspan="19">
</td>
</tr>
<tr valign="top" style="height:22px">
<td colspan="2">
</td>
<td colspan="2" rowspan="5">
<img src="movie.html_files/img_0_0_2.png" style="width: 93px" alt=""/></td>
<td colspan="15">
</td>
</tr>
<tr valign="top" style="height:43px">
<td colspan="2">
</td>
<td>
</td>
<td colspan="8" rowspan="2" style="text-indent: 0px;  vertical-align: middle;text-align: center;">
<span style="font-family: SansSerif; color: #000000; font-size: 16px; line-height: 1.2578125; font-weight: bold;">RELATÓRIO DE FILMES AVALIADOS</span></td>
<td colspan="6">
</td>
</tr>
<tr valign="top" style="height:7px">
<td colspan="2">
</td>
<td>
</td>
<td colspan="2">
</td>
<td colspan="2" rowspan="2" style="text-indent: 0px;  vertical-align: bottom;text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 8px; line-height: 1.2578125;">Emitido em:Thu Nov 02 23:07:40 </span></td>
<td colspan="2">
</td>
</tr>
<tr valign="top" style="height:12px">
<td colspan="2">
</td>
<td colspan="11">
</td>
<td colspan="2">
</td>
</tr>
<tr valign="top" style="height:11px">
<td colspan="2">
</td>
<td colspan="15">
</td>
</tr>
<tr valign="top" style="height:1px">
<td>
</td>
<td colspan="17" style="border-top: 1px solid #000000; ">
</td>
<td>
</td>
</tr>
<tr valign="top" style="height:10px">
<td colspan="19">
</td>
</tr>
<tr valign="top" style="height:19px">
<td>
</td>
<td colspan="17">
<div style="width: 100%; height: 100%; position: relative;">
<div style="position: absolute; overflow: hidden; width: 100%; height: 100%; ">
<table cellpadding="0" cellspacing="0" border="0" style="empty-cells: show; width: 100%; border-collapse: collapse;">
<tr role="none" valign="top" style="height:0">
<td style="width:10px"></td>
<td style="width:50px"></td>
<td style="width:501px"></td>
</tr>
<tr valign="top" style="height:19px">
<td>
</td>
<td style="pointer-events: auto; text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 11px; line-height: 1.2578125; font-weight: bold;">ID</span></td>
<td>
</td>
</tr>
</table>
</div>
<div style="position: relative; width: 100%; height: 100%; pointer-events: none; ">
<table cellpadding="0" cellspacing="0" border="0" style="empty-cells: show; width: 100%; border-collapse: collapse;">
<tr role="none" valign="top" style="height:0">
<td style="width:58px"></td>
<td style="width:159px"></td>
<td style="width:120px"></td>
<td style="width:2px"></td>
<td style="width:63px"></td>
<td style="width:18px"></td>
<td style="width:100px"></td>
<td style="width:41px"></td>
</tr>
<tr valign="top" style="height:18px">
<td>
</td>
<td style="pointer-events: auto; text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 11px; line-height: 1.2578125; font-weight: bold;">TÍTULO</span></td>
<td style="pointer-events: auto; text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 11px; line-height: 1.2578125; font-weight: bold;">GÊNERO</span></td>
<td>
</td>
<td style="pointer-events: auto; text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125; font-weight: bold;">ANO </span></td>
<td>
</td>
<td style="pointer-events: auto; text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 11px; line-height: 1.2578125; font-weight: bold;">NOTA</span></td>
<td>
</td>
</tr>
<tr valign="top" style="height:1px">
<td colspan="8" style="pointer-events: auto; background-color: #FFFFFF; border-top: 1px solid #000000; ">
</td>
</tr>
</table>
</div>
</div>
</td>
<td>
</td>
</tr>
<tr valign="top" style="height:11px">
<td colspan="19">
</td>
</tr>
<tr valign="top" style="height:18px">
<td colspan="2">
</td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">8</span></td>
<td colspan="5" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">Easy A</span></td>
<td>
</td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">Comedy</span></td>
<td>
</td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">2008</span></td>
<td>
</td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">5</span></td>
<td colspan="3">
</td>
</tr>
<tr valign="top" style="height:7px">
<td colspan="19">
</td>
</tr>
<tr valign="top" style="height:18px">
<td colspan="2">
</td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">9</span></td>
<td colspan="5" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">Procurando Nemo</span></td>
<td>
</td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">Adventure</span></td>
<td>
</td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">2003</span></td>
<td>
</td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">4</span></td>
<td colspan="3">
</td>
</tr>
<tr valign="top" style="height:7px">
<td colspan="19">
</td>
</tr>
<tr valign="top" style="height:18px">
<td colspan="2">
</td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">10</span></td>
<td colspan="5" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">Sherek</span></td>
<td>
</td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">Comedy</span></td>
<td>
</td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">2001</span></td>
<td>
</td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">4</span></td>
<td colspan="3">
</td>
</tr>
<tr valign="top" style="height:7px">
<td colspan="19">
</td>
</tr>
<tr valign="top" style="height:18px">
<td colspan="2">
</td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">11</span></td>
<td colspan="5" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">Sherek 2</span></td>
<td>
</td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">Comedy</span></td>
<td>
</td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">2004</span></td>
<td>
</td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">5</span></td>
<td colspan="3">
</td>
</tr>
<tr valign="top" style="height:7px">
<td colspan="19">
</td>
</tr>
<tr valign="top" style="height:18px">
<td colspan="2">
</td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">12</span></td>
<td colspan="5" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">Sherek the Third</span></td>
<td>
</td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">Comedy</span></td>
<td>
</td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">2007</span></td>
<td>
</td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">4</span></td>
<td colspan="3">
</td>
</tr>
<tr valign="top" style="height:1px">
<td colspan="19">
</td>
</tr>
<tr valign="top" style="height:1px">
<td>
</td>
<td colspan="17" style="border-top: 1px solid #000000; ">
</td>
<td>
</td>
</tr>
<tr valign="top" style="height:5px">
<td colspan="19">
</td>
</tr>
<tr valign="top" style="height:18px">
<td colspan="2">
</td>
<td colspan="4" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125; font-weight: bold;">QUANTIDADE DE FILMES AVALIADOS:</span></td>
<td>
</td>
<td colspan="3" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">5</span></td>
<td colspan="9">
</td>
</tr>
<tr valign="top" style="height:548px">
<td colspan="19">
</td>
</tr>
</table>

</td><td width="50%">&nbsp;</td></tr>
</table>
</body>
</html>
